<div class="container pb-3">
  <div class="row">
    <div class="col-12 mt-3">
      <mat-card *ngIf="!(rsvp$ | async)">
        <mat-card-content>
          <mat-progress-bar mode="query"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="(rsvp$ | async)">
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar>
            <mat-icon
              svgIcon="supervisor_account"
              class="header-icon"></mat-icon>
          </div>
          <mat-card-title>Übersicht</mat-card-title>
          <mat-card-subtitle class="mb-0">Alle Zu- & Absagen</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-accordion class="headers-align">
        <div class="mt-3">
          <mat-expansion-panel *ngFor="let participant of rsvp$ | async; let irsvp = index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ participant?.name }}
              </mat-panel-title>
              <mat-panel-description>
                <mat-icon *ngIf="!participant?.teilnahme" svgIcon="block"></mat-icon>
                <mat-icon *ngIf="participant?.teilnahme" svgIcon="check"></mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
              <ul>
                <li class="mb-1">
                  Begleitung:
                  <mat-slide-toggle
                    [disabled]="!editMode"
                    color="primary"
                    #begleitung
                    [checked]="participant?.begleitung">
                  </mat-slide-toggle></li>
                <li class="mb-1">Hund: {{ participant?.hund | questionableBoolean}}</li>
                <li class="mb-1">Kind(er): {{ participant?.kinder }}</li>
                <li class="mb-1">Anreise: {{ participant?.anreise }}</li>
                <li class="mb-1">Abholung: {{ participant?.abholung | questionableBoolean }}</li>
                <li class="mb-1">Zielbahnhof: {{ participant?.zielbahnhof }}</li>
                <li class="mb-1">Ankunftszeit: {{ participant?.ankunftszeit }}</li>
                <li class="mb-1" *ngIf="participant?.andate">Ankunft: {{ participant?.andate.seconds * 1000 | date:'d. MMMM' }}</li>
                <li class="mb-1" *ngIf="participant?.abdate">Abreise: {{ participant?.abdate.seconds * 1000 | date:'d. MMMM' }}</li>
                <li class="mb-1">Nächte: {{ participant?.naechte }}</li>
                <li class="mb-1">Unterkunft:
                  <ul *ngFor="let unterkunft of participant?.unterkuenfte;">
                    <li>{{ unterkunft }}</li>
                  </ul>
                </li>
              </ul>
              <mat-action-row>
                <ng-template [ngIf]="!editMode">
                  <button
                    mat-button
                    class="nav-item"
                    (click)="editMode = !editMode"
                    title="Teilnehmer bearbeiten">
                    <mat-icon svgIcon="edit"></mat-icon>
                    <span class="nav-item-title">Bearbeiten</span>
                  </button>
                  <span class="bar-spacer"></span>
                </ng-template>
                <ng-template [ngIf]="editMode">
                  <button
                    mat-button
                    class="nav-item"
                    (click)="editMode = !editMode; updateItem(participant.id, begleitung.checked)"
                    title="Teilnehmer speichern">
                    <mat-icon svgIcon="save"></mat-icon>
                    <span class="nav-item-title">Speichern</span>
                  </button>
                  <span class="bar-spacer"></span>
                </ng-template>
                <a
                  *ngIf="participant?.email"
                  mat-button
                  class="nav-item"
                  href="mailto:{{participant?.email}}"
                  target="_blank"
                  title="E-Mail schreiben">
                  <mat-icon svgIcon="email"></mat-icon>
                  <span class="nav-item-title">E-Mail</span>
                </a>
                <span class="bar-spacer"></span>
                <button
                  mat-button
                  class="nav-item"
                  color="warn"
                  (click)="openDialog(participant.id, participant.name)"
                  title="Teilnehmer entfernen">
                  <mat-icon svgIcon="delete"></mat-icon>
                  <span class="nav-item-title">Löschen</span>
                </button>
              </mat-action-row>
          </mat-expansion-panel>
        </div>
      </mat-accordion>

      <mat-card class="mt-3" *ngIf="(rsvp$ | async)">
        <button
          mat-flat-button
          color="primary"
          (click)="exportAsXLSX()"
          matBadge="{{ counter }}"
          matBadgeColor="accent">
          Excel Download
        </button>
      </mat-card>
    </div>
  </div>
</div>
