.mat-toolbar {
  &.mat-primary,
  &.mat-accent {
    position: fixed;
    top: 0;
    z-index: 2;
  }
  .mat-toolbar-row {
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-left: env(safe-area-inset-left);
    padding-right: calc(16px + var(--safe-area-inset-right));
    padding-left: calc(16px + var(--safe-area-inset-left));
  }
}

.logo {
  img {
    width: 25px;
    margin-right: 16px;
  }
  span {
    font-size: 1.5rem;
  }
}