.mat-toolbar {
  &.mat-primary,
  &.mat-accent {
    position: fixed;
    top: 0;
    z-index: 2;
  }
  .mat-toolbar-row {
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-left: env(safe-area-inset-left);
    padding-right: calc(16px + var(--safe-area-inset-right));
    padding-left: calc(16px + var(--safe-area-inset-left));
  }
}

.bar-spacer {
  flex: 1 1 auto;
}

.logo {
  img {
    width: 25px;
    margin-right: 16px;
  }
  span {
    font-size: 1.5rem;
  }
}

.nav-item {
  line-height: 2em;
  width: unset;
  min-width: 40px;
  padding: 0 8px;
  .nav-item-title {
    display: block;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.5em;
      &::before {
        content: attr(data-text);
      }
  }
}

