.headers-align {
   .mat-expansion-panel-header-title,
   .mat-expansion-panel-header-description {
    flex-basis: 0;
   }
   .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
    flex-grow: 0.9;
  }
}
// For email link button
.mat-action-row a.mat-button-base {
  margin-left: 8px;
}

.bar-spacer {
  flex: 1 1 auto;
}

.nav-item {
  line-height: 2em;
  width: unset;
  min-width: 40px;
  padding: 0 8px;
  .nav-item-title {
    display: block;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.5em;
      &::before {
        content: attr(data-text);
      }
  }
}
