<div class="container pb-3">
  <div class="row">
    <div class="col-12 mt-3">
        <mat-card *ngIf="!(event$ | async)">
        <mat-card-content>
          <mat-progress-bar mode="query"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="(event$ | async)">
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar>
            <mat-icon
              svgIcon="event"
              matBadge="{{ counter }}"
              matBadgeColor="accent"
              class="header-icon"></mat-icon>
          </div>
          <mat-card-title>Übersicht</mat-card-title>
          <mat-card-subtitle class="mb-0">Events</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-accordion class="headers-align">
        <div class="mt-3">
          <mat-expansion-panel *ngFor="let event of event$ | async; let ievent = index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ event?.name }}
              </mat-panel-title>
              <mat-panel-description>
                <span *ngIf="!event?.dates.multipleDays">
                  {{ event?.dates.startDate.seconds * 1000 | date:'dd.MM.yy' }}
                </span>
                <span *ngIf="event?.dates.multipleDays">
                  {{ event?.dates.startDate.seconds * 1000 | date:'dd.MM' }} –
                  {{ event?.dates.endDate.seconds * 1000 | date:'dd.MM.yy' }}
                </span>
              </mat-panel-description>
            </mat-expansion-panel-header>
              <ul>
                <li class="mb-1">Event: {{ event?.name }}</li>
                <li class="mb-1">Beschreibung: {{ event?.desc }}</li>
                <li class="mb-1">
                  Datum: {{ event?.dates.startDate.seconds * 1000 | date:'d. MMMM' }}
                  <span *ngIf="event?.dates.multipleDays">
                    bis {{ event?.dates.endDate.seconds * 1000 | date:'d. MMMM' }}
                  </span>
                </li>
              </ul>
              <mat-action-row class="py-3 pr-3 pl-2">
                <button
                  mat-button
                  class="nav-item"
                  [routerLink]="['../../event/' + event?.url]"
                  aria-label="Event Vorschau"
                  title="Event Vorschau">
                  <mat-icon svgIcon="invitation"></mat-icon>
                  <span class="nav-item-title">Vorschau</span>
                </button>
                <span class="bar-spacer"></span>
                <button
                  mat-button
                  class="nav-item"
                  (click)="share(event?.name,event?.desc,'https://changekraft.de/event/' + event?.url)"
                  aria-label="Event teilen"
                  title="Event teilen">
                  <mat-icon svgIcon="share"></mat-icon>
                  <span class="nav-item-title">Teilen</span>
                </button>
                <span class="bar-spacer"></span>
                <button
                  mat-button
                  class="nav-item"
                  [routerLink]="['../zusagen/' + event?.id]"
                  matBadge="{{ counter }}"
                  matBadgePosition="above after"
                  matBadgeColor="accent"
                  aria-label="Event Zusagen"
                  title="Event Zusagen">
                  <mat-icon svgIcon="supervisor_account"></mat-icon>
                  <span class="nav-item-title">Zusagen</span>
                </button>
                <span class="bar-spacer"></span>
                <button
                  mat-button
                  class="nav-item"
                  [routerLink]="['../edit-event/' + event?.id]"
                  aria-label="Event bearbeiten"
                  title="Event bearbeiten">
                  <mat-icon svgIcon="edit"></mat-icon>
                  <span class="nav-item-title">Bearbeiten</span>
                </button>
                <span class="bar-spacer"></span>
                <button
                  mat-button
                  class="nav-item"
                  color="warn"
                  (click)="deleteDialog(event?.id, event?.name)"
                  aria-label="Event löschen"
                  title="Event löschen">
                  <mat-icon svgIcon="delete"></mat-icon>
                  <span class="nav-item-title">Löschen</span>
                </button>
              </mat-action-row>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>
  </div>
</div>
