<div class="container pb-3">
  <div class="row">
    <div class="col-md-4 mt-3">
      <mat-card>
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar>
            <mat-icon
              svgIcon="account_circle"
              class="header-icon"></mat-icon>
          </div>
          <mat-card-title>
            Profil
            <span *ngIf="userService.name"> von {{ userService.name }}</span>
          </mat-card-title>
          <mat-card-subtitle class="mb-0">{{ userService.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="mt-3">
          <form #profileform="ngForm">
            <mat-form-field class="w-100" hideRequiredMarker>
              <input
                matInput
                type="text"
                color="accent"
                id="displayname"
                name="displayname"
                [(ngModel)]="userService.name"
                placeholder="Name"
                class="form-control"
                required>
                <button
                  mat-button
                  mat-icon-button
                  matSuffix
                  *ngIf="userService.name"
                  aria-label="Speichern"
                  (click)="updateUser(profileform)"
                  title="Speichern">
                  <mat-icon svgIcon="autorenew" [@rotate]="animate"></mat-icon>
                </button>
                <mat-hint *ngIf="!userService.name">
                  Bitte einen Namen angeben.
                </mat-hint>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions class="flex-card-actions">
          <button
            mat-button
            type="button"
            title="Speichern"
            disabled>E-Mail ändern
          </button>
          <button
            mat-button
            type="button"
            title="Speichern"
            disabled>Passwort ändern
          </button>
          <span class="bar-spacer"></span>
          <button
            mat-icon-button
            (click)="deleteDialog()"
            color="warn"
            type="button"
            title="Benutzer löschen">
            <mat-icon aria-label="Benutzer löschen" svgIcon="delete"></mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4 mt-3">
      <mat-card>
        <mat-card-header>
          <div class="justify-content-center align-self-center" mat-card-avatar>
            <mat-icon
              svgIcon="account_circle"
              class="header-icon"></mat-icon>
          </div>
          <mat-card-title>
            Dashboard
          </mat-card-title>
          <mat-card-subtitle class="mb-0">Alles auf einen Blick</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="mt-3">
          Events
        </mat-card-content>
        <mat-card-actions class="flex-card-actions">
          <button
            mat-button
            type="button"
            title="Speichern"
            disabled>Work in
          </button>
          <button
            mat-button
            type="button"
            title="Speichern"
            disabled>progress
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
