// @import './assets/fonts/raleway/raleway';
// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/raleway/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('./assets/fonts/raleway/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/raleway/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/raleway/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/raleway/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/raleway/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/raleway/raleway-v14-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Raleway Medium'), local('Raleway-Medium'),
       url('./assets/fonts/raleway/raleway-v14-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/raleway/raleway-v14-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/raleway/raleway-v14-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/raleway/raleway-v14-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/raleway/raleway-v14-latin-500.svg#Raleway') format('svg'); /* Legacy iOS */
}

@import '~@angular/material/theming';

$rsvp-primary: mat-palette($mat-teal, 600);
$rsvp-accent: mat-palette($mat-deep-purple, 300);
$rsvp-warn: mat-palette($mat-red, 900);
$rsvp-theme: mat-light-theme($rsvp-primary, $rsvp-accent, $rsvp-warn);

$custom-typography: mat-typography-config(
  $font-family: 'Raleway, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 400)
);

// Override the typography in the core CSS.
@include mat-core($custom-typography);
@include angular-material-theme($rsvp-theme);

@import './assets/scss/bootstrap';

.bar-spacer {
  flex: 1 1 auto;
}

.nav-item {
  line-height: 2em;
  width: unset;
  min-width: 40px;
  padding: 0 8px;
  .nav-item-title {
    display: block;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.5em;
      &::before {
        content: attr(data-text);
      }
  }
}

.text-error {
  color: mat-color($rsvp-warn);
}

.text-grey {
  color: rgba(0, 0, 0, 0.54)
}

.button-spinner {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 25%;
}

.mat-snack-bar-handset {
  margin-bottom: env(safe-area-inset-bottom) !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Raleway', sans-serif; overflow-x: hidden; }
input { font-size: 16px;}

.active {
  color: mat-color($rsvp-primary);
}

.mat-badge-medium .mat-badge-content {
  line-height: 20px;
}

.header-padding {
  @media (min-width: 600px){
    padding-top: 64px;
  }
  padding-top: 56px;
}
.sticky-height {
  @media (min-width: 600px){
    height: 64px;
  }
  height: 56px;
}

.bottom {
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  height: calc(56px + var(--safe-area-inset-bottom));
  .mat-toolbar {
    bottom: 0;
    position: fixed;
    top: unset !important;
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    height: calc(56px + var(--safe-area-inset-bottom));
  }
}

app-root {
  router-outlet+* {
    > .container,
    > .container-fluid {
        --safe-area-inset-right: env(safe-area-inset-right);
        --safe-area-inset-left: env(safe-area-inset-left);
        padding-right: calc(16px + var(--safe-area-inset-right));
        padding-left: calc(16px + var(--safe-area-inset-left));
        flex-grow: 1;
      mat-card {
        mat-form-field {
          font-size: 16px;
        }
        mat-card-actions {
          margin-bottom: -8px;
          padding-bottom: 0;
          &.flex-card-actions {
            display: flex;
            box-sizing: border-box;
            flex-direction: row;
            align-items: center;
            white-space: nowrap;
          }
        }
        .header-icon {
          font-size: 40px;
          height: 40px;
          width: 40px;
        }
        .mat-card-header-text {
          overflow-x: hidden;
          mat-card-subtitle {
            overflow-x: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .img-wrapper {
        @include _mat-theme-overridable-elevation(1, $rsvp-theme);
        border-radius: 4px;
        // height: 100%;
        img {
          border-radius: 4px;
          height: 100%;
          // object-fit: cover;
          max-width: 927px;
          width: 100%;
        }
      }
      .wrapper {
        @include _mat-theme-overridable-elevation(1, $rsvp-theme);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
